# Instructions 3-9

# Table of Contents

### Ex 1-4. Importing libraries and data 
### Ex 5. Merging data 
### Ex 6. Checking merge with merge flag
### Ex 7. Exporting data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create project folder string

path = r'/Users/nora/Desktop/Instacart Basket Analysis'

In [3]:
# 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# 4. Check the shape of the imported dataframe

df_orders_products_combined.shape

(32434489, 13)

In [5]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
#    Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” 
#    folder from the previous Exercise’s task.

In [6]:
# Import products data

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [7]:
# Check both data sets

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_orders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [9]:
df_prods.shape

(49672, 6)

In [10]:
df_orders_products_combined.shape

(32434489, 13)

In [11]:
# Merge df_orders_products_combined and df_products

df_ords_prods_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = '_merge2')

In [12]:
df_ords_prods_merged.head()

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge2
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,False,196,1,1,both,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,False,196,1,1,both,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,False,196,1,1,both,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,False,196,1,1,both,195,Soda,77,7,9.0,both

In [13]:
df_ords_prods_merged['_merge2'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge2, dtype: int64

In [14]:
df_ords_prods_merged.shape

(32404859, 19)

In [15]:
# 6. Confirm the results of the merge using the merge flag.

In [16]:
# See merge flag in column _merge2 in the table abovee
# Double checking the merge rate using an outer join

In [17]:
df_merged_outer = df_ords_prods_merged.merge(df_prods, on = 'product_id', indicator = '_merge3', how = 'outer')

In [18]:
df_merged_outer['_merge3'].value_counts()

both          32405999
right_only          11
left_only            0
Name: _merge3, dtype: int64

In [19]:
# 7. Export the newly created dataframe as orders_products_merged in a suitable format 

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [20]:
df_ords_prods_merged.shape

(32404859, 19)